body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0f0f0f;
  color: white;
}

/* Header */
.header {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  background: #111;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
}

.header nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #ddd;
  transition: 0.3s;
}

.header nav a:hover {
  color: #ffcc00;
}


html {
  scroll-behavior: smooth;
}
